.badge {
    width: 2.5rem;
    height: 2.5rem;
    color: white;
    background-color: var(--accent-color);
    border: 0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

