.newTaskButton {
    background-color: var(--secondary-color);
    
    border-radius: 2rem;
    padding: 2rem 1.8rem;
    display: flex; 
    justify-content: left;
    align-items: center;
    gap: 1rem;
    color: white;
    width: 100%;
}