.newTaskButton {
  background-color: var(--secondary-color);

  border-radius: 2rem;
  padding: 1.8rem 2.6rem;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1rem;
  color: white;
  width: 100%;
  border: 0;
  cursor: pointer;
  margin-bottom: 4rem;
}
