.SideBarButton {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  color: white;
  margin-bottom: 4rem;
  width: 100%;
  background-color: var(--main-color);
  border: 0;
}

.SideBarButton > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.1rem;
}
