/* -----------------------------------------------
   01. Variables
----------------------------------------------- */

html {
  /* 1 rem = 10px */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* -----------------------------------------------
   02. Reset / Base
----------------------------------------------- */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

:root {
  /* main colores */
  --main-color: #4895ef;
  --secondary-color: #560bad;
  --accent-color: #f72585;

  --max-width: 240rem;

  /* Figma design with */
  --content-witdh: 192rem;

  /* Fonts */
  --primary-font: "Inter", sans-serif;
}

body {
  font-family: var(--primary-font);
}
