.userMenu {
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: blueviolet;
    
}

.avatarName {
  font-family: var(--primary-font);
  font-size: 1.7rem;
  color: white;
}
